<nav class="navbar sticky-top navbar-light app-bg-light">
  <div class="container-fluid">
    <div>
      <a href="#" class="navbar-brand">{{ title }}</a>
      <span class="text-secondary">{{ version }}</span>
    </div>
    <button type="button" class="navbar-toggler d-md-none" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas" aria-label="Mostrar filtros">
      <span class="bi-funnel"></span>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
