<div class="cardlist container-fluid container-xl pt-2">
  <div class="row justify-content-between">

    <div class="col-12 col-md-9 row" id="div_cardlist" #div_cardlist>
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let card of cardsService.filtered_cards">
        <app-card #card [card]=card [isSelection]="true" (cb_selected)="onCardSelected($event)"></app-card>
      </div>
    </div>
    
    <div class="col-3 border-start offcanvas-md offcanvas-end" id="filterOffcanvas" tabindex="-1" aria-labelledby="filterOffcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="filterOffcanvasLabel">Filtrar Cartas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#filterOffcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form>
          <label class="form-label border-bottom">Mostrar apenas selecionados</label>
          <div class="form-check" *ngFor="let _set of cardsService.sets">
            <input class="form-check-input" type="checkbox" checked value="{{_set.code}}" (change)="onSetCheckedChanged($event)" id="cb_{{_set.code}}">
            <label for="cb_{{_set.code}}" class="form-label">{{ _set.name }}</label>
          </div>
          <div class="mt-3 form-check form-switch">
            <input class="form-check-input" type="checkbox" checked (change)="onShowPhenomenonChanged($event)" role="switch" id="showPhenomenons">
            <label for="showPhenomenons" class="form-label">Mostrar cards de Phenomenon</label>
          </div>
          <label class="form-label border-bottom">Selecionar cards</label>
          <div class="input-group">
            <button type="button" class="btn btn-outline-primary" (click)="onSelectAllClicked()">Todos</button>
            <button type="button" class="btn btn-outline-primary" (click)="onSelectNoneClicked()">Nenhum</button>
          </div>
        </form>
      </div>
    
    </div>

  </div>
</div>

<div class="navbar fixed-bottom bg-body-tertiary">
  <div class="container d-flex">
    <div>
    </div>
    <div>
      <div class="input-group">
        <span class="input-group-text">{{ cardsService.selected_cards.size }} selecionados</span>
        <a routerLink="/game" class="btn btn-primary">Iniciar</a>
      </div>
    </div>
  </div>
</div>
