<div class="game container-fluid pt-2 pb-5 mb-5">
  <h5>Plano ativo</h5>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6" *ngFor="let card of active">
      <app-card [card]=card [isActive]="true"
        (btn_discard_clicked)="discard($event)"
      ></app-card>
    </div>
  </div>
  <h5>Planos revelados</h5>
  <button class="btn btn-outline-secondary" (click)="reveal()">
    <i class="bi-plus-circle-fill"></i> Revelar
  </button>
  <button class="btn btn-outline-secondary" (click)="discard_revealed()">
    <i class="bi-x-circle-fill"></i> Descartar
  </button>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6" *ngFor="let card of revealed">
      <app-card [card]=card [isRevealed]="true"
        (btn_move_to_deck_clicked)="move_to_deck($event)"
        (btn_move_to_active_clicked)="move_to_active($event)"
      ></app-card>
    </div>
  </div>
</div>

<div class="navbar fixed-bottom bg-body-tertiary">
  <div class="container">
    <div></div>
    <div>
      <button class="btn btn-primary btn-lg" (click)="rollDice()">
        <i class="mana ms-planeswalker"></i> {{ has_phenomenon() ? "Próximo plano" : "Rolar dado"}}
      </button>
    </div>
  </div>
</div>

<div id="modal_dice" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resultado do dado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center d-flex">
        <i class="dice-face {{ last_dice_result }}"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
