.mana
  display: inline-block
  font: normal normal normal 14px/1 Mana
  font-size: inherit
  line-height: 1em
  text-rendering: auto
  transform: translate(0, 0)
  speak: none
  text-transform: none
  vertical-align: baseline
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.modal-body
  min-height: 224px
  align-items: center

.dice-face
  font-size: 128px ! important
  text-align: center