<div class="card mb-4">
  <div class="card-header" (click)="selected_toggle($event)">
    <h5 class="card-title text-start form-check form-check-reverse">
      <label>{{card.name}}</label>
      <input id="cb_{{card.id}}" class="form-check-input" [class.collapse]="!isSelection" type="checkbox" [checked]="isSelected" value="{{card.id}}">
    </h5>
    <h6 class="card-subtitle text-muted">{{card.type_line}}</h6>
  </div>
  <img class="card-img-middle" src="{{getImage()}}" />
  <div class="card-body">
    <div class="card-text" [innerHTML]="card.oracle_text | newLinesToParagraphs | manaSymbols"></div>
  </div>
  <div class="card-footer" [class.collapse] = "!isRevealed && !isActive">
    <button type="button" class="btn btn-outline-primary" [class.collapse]="!isActive" (click)="discard_clicked()"><i class="bi-x"></i> Descartar</button>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary" [class.collapse]="!isRevealed" (click)="move_to_active_clicked()"><i class="bi-cast"></i> Ativo</button> 
      <button type="button" class="btn btn-outline-primary" [class.collapse]="!isRevealed" (click)="move_to_deck_clicked()"><i class="bi-collection"></i> Deck</button>
    </div>
  </div>
</div>
